# Need to update at 21 Dec 2020
# This the the requiremnts that need to be added

# Pulled in RHEL at 26-12-2020

asgiref==3.2.3
Django==latest
djangorestframework==latest
pkg-resources==latest
pytz==latest
sqlparse==latest

